{{ define "main" }}
  <div class="about">
    <h1 class="about-title">{{ .Title | markdownify }}</h1>
    <div class="about-content">
      <div>
        {{ .Content }}
      </div>
      <div class="about-profile">
        {{ $img := resources.Get "/img/sense.jpg" }}
        {{ $img := $img.Resize "400x" }}
        <img class="about-profile-img" src="{{ $img.RelPermalink }}" alt="Sense at Samsung d'light, Seoul Korea">
        <div class="about-profile-caption">Sense at Samsung d'light, Seoul Korea</div>
      </div>
    </div>
{{ end }}
